ul{
  &.pianoRoll {
    display: flex;
    flex-direction: column-reverse;
  }
}

.key {
  height: 1rem;
  border: 1px solid #213547;

  &.white {
    background-color: rgba(127, 127, 127, 1);
  }

  &.black {
    background-color: rgba(50, 50, 50, 0.2);
  }

  &.inkey {
    &.black {
      background-color: rgba(0, 127, 0, 0.2);
      &.active {
        background-color: rgba(255, 255, 0, 1);
      }
    }
    &.white{
      background-color: rgba(0, 127, 0, 0.7);
      &.active {
        background-color: rgba(255, 255, 0, 1);
      }
    }
  }
}
