.sequencer {
  flex: 0 0 100%;
  margin-bottom: 1rem;

  header {
    display: flex;

    aside {
      margin-left: auto;

      menu {
        li {
          list-style: none;
          padding: 0;
        }
      }
    }
  }

  main {
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
  }

  footer {
    display: flex;
    flex-direction: column;

    section {
      margin-bottom: 1rem;
    }
  }
}
