@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import "colors";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  line-height: 1.4rem;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: dark;
  background-color: @gray--100;
  color: @gray--10
}

#root {
  display: flex;
  flex-direction: row;
  padding: 0rem;

  .storedPatterns {
    min-width: 20rem;
    max-height: 100vh;
    overflow: auto;
    padding: 1rem;
  }
}
